﻿@model Evaluacion2.Models.Instructor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sede.headquarters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sede.headquarters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specialty.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialty.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.second_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.second_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.second_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.second_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birh_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birh_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idInstructor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
